body {
  background: #f2f2f2;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #6600cc;
}

p {
  color: #3333ff;
}

ol {
  margin-left: 35%;
  text-align: left;
  color: #3333ff;
}

table {
  margin: 20px auto;
  width: 80%;
}

thead th {
  background: #88ccf1;
  color: #ffffff;
  text-transform: uppercase;
}

tr {
  background: #ffffff;
}

th, td {
  color: #3333ff;
  padding: 8px;
}

#icon {
  text-align: left;
}
